@media (max-width: 1800px) {

}

@media (max-width: 1200px) {
    .message-box {
        width: auto;
        max-width: 30rem;
    }
    .one-word {
        width: 20rem;
    }
    .weather {
        width: 20rem;
    }
}

@media (max-width: 900px) {
    .sidebar {
        display: none;
    }            
    .audio-container {
        display: none;
    }
}

@media (max-width: 768px) {
    .time {
        font-size: 10rem;
    }
}

@media (max-width: 600px) {
    .message-box {
        width: auto;
        max-width: 20rem;
    }
    .image img {
        width: 120px;
        height: 120px;
    }
}