html {
  font-size: 1rem; /* 设置根元素的字体大小 */
}

.container {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/*背景*/
.background-all {
  z-index: -1;
  position: absolute;
  top: calc(0px + 0px);
  left: 0;
  width: 100%;
  height: calc(100% - 0px);
  transition: .25s;
}
#background {
  transform: scale(1.10);
  filter: blur(10px);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s, transform .25s, filter .25s;
  backface-visibility: hidden;
}
img.error {
  display: none;
}
.cover {
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .5) 100%), radial-gradient(rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, .3) 166%);
  transition: .25s;
}
.mid-container {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
  user-select: none;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.more-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 75%;
  height: 75%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  backdrop-filter: blur(5px);
  user-select: none;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  user-select: none;
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
}
/* 头像图片 */
.image {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
    z-index: 1000;
    transition: transform 0.5s ease;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}
.image:hover {
    transform: translate(-50%, -50%) rotate(360deg) scale(1.05);
}
.image img {
    width: 150px;
    height: 150px;
}

/* 背景音乐播放器 */
.audio-element {
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 10%;
  border-radius: 30px;
  transition: all 0.5s ease;
  z-index: 2;
}
/* More about */
.more {
  position: fixed;
  bottom: 5%; 
  left: 50%;
  transform: translateX(-50%);
  width: 15rem;
  height: auto;
  padding: 10px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  text-align: center;
  z-index: 1000;
  cursor: pointer;
  font-family: MiSans;
  letter-spacing: 1px;
  font-size: 1.5rem;
  transition: all 0.3s ease;
  backdrop-filter: blur(5px);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  user-select: none;
}
.more:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  transform: translateX(-50%) scale(1.01);
  box-shadow: 0 0 15px rgb(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.6);
}

.saying {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 70%;
  padding: 10px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  text-align: center;
  z-index: 1000;
  letter-spacing: 0.5px;
  transition: all 0.5s ease;
  backdrop-filter: blur(5px);
  font-family: MiSans;
  font-size: 1.5rem;
  user-select: text;
  overflow: auto;

}

/* 天气 */
.weather {
  position: fixed;
  bottom: 20%; 
  left: 50%;
  transform: translateX(-50%);
  width: 30rem;
  height: auto;
  padding: 10px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  text-align: center;
  z-index: 1000;
  cursor: pointer;
  font-family: Pacifico;
  letter-spacing: 1px;
  font-size: 1.5rem;
  transition: all 0.3s ease;
  backdrop-filter: blur(5px);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.weather:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  transform: translateX(-50%) scale(1.01);
  box-shadow: 0 0 15px rgb(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.6);
}

/* 一言 */
.one-word {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  width: 30rem;
  height: auto;
  padding: 10px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  text-align:center;
  z-index: 1000;
  cursor: pointer;
  font-family: MiSans;
  letter-spacing: 0.5px;
  font-size: 1.5rem;
  transition: all 0.3s ease;
  backdrop-filter: blur(5px);
  user-select: none;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
} 
.one-word_text {
  text-align: left;
}
.one-word_from {
  text-align: right;
}
.one-word:hover {
  transform: translateX(-50%) scale(1.01);
  box-shadow: 0 0 15px rgb(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.6);
}

/* 时间 */
.time {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding: 10px;
  color: rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  z-index: 1;
  font-family: Pacifico;
  font-size: 40rem;
  letter-spacing: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  user-select: none;
}

/* 消息盒子 */
.message-box {
position: fixed;
top: 0.5%;
left: 50%;
transform: translateX(-50%);
width: auto;
max-width: 100%;
height: auto;
padding: 10px;
color: #ffffff;
background-color: rgb(0, 0, 0, 0.3);
border-radius: 40px;
text-align: center;
z-index: 1000;
font-family: "MiSans";
font-size: 1.5rem;
opacity: 0;
transition: opacity 0.5s ease-in-out;
backdrop-filter: blur(5px);
text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
user-select: none;
}

.message-box.show {
opacity: 1;
}